mixin privacy-policy(company, site, lastUpdate)
  h2 Политика конфиденциальности
  p Данное соглашение об использовании персональных данных (далее Соглашение) распространяется на компанию #{company} (далее Исполнитель) и на клиентов компании #{company} (далее Заказчик), а также на зарегистрированных пользователей (далее Заказчик) сайта #{site}.
  p Заказывая услуги у Исполнителя и/или регистрируясь на сайте #{site} Вы подтверждаете, что ознакомились с Соглашением и согласны с его пунктами, и выражаете свое согласие предоставить Исполнителю и/или доверенным лицам Исполнителя персональные данные о себе. Если Вы не согласны с одним или несколькими пунктами Соглашения, или не согласны предоставить персональные данные о себе Исполнителю и/или доверенным лицам Исполнителя, пожалуйста, откажитесь от услуг Исполнителя и/или от регистрации на сайте.
  p: strong 1. Персональные данные, которые собирает, хранит и обрабатывает Исполнитель
  p 1.1. Для полноценного предоставления услуг Заказчику, Исполнитель собирает, хранит и обрабатывает персональные данные Заказчика.
  p 1.2. В число персональных данных, которые собирает, хранит и обрабатывает Исполнитель, входит:
  p 1.2.1. Имя, фамилия, страна, регион и город проживания, домашний адрес, почтовый адрес, адрес электронной почты, номер p телефона (в том числе и мобильного), номер факса, номер пейджера, название компании, ИНН, КПП;
  p 1.2.2. Данные, которые автоматически передаются в сеть с устройства Заказчика: IP-адрес, информация из файлов cookie (т.н. p куки), информация о браузере или иной программе, с помощью которых Заказчик осуществляет доступ в сеть и к конкретному сайту, p дата и время доступа, адрес запрашиваемой страницы.
  p 1.2.3. Номер электронного кошелька Заказчика.
  p 1.2.4. Другие сведения о Заказчике, которые Исполнитель обоснованно может отнести к персональным данным.
  p: strong 2. Для каких целей использует Исполнитель персональные данные Заказчика
  p 2.1. В рамках данного Соглашения персональные данные Заказчика могут быть использованы в следующих целях:
  p а. Для предоставления Заказчику информации об используемом Заказчиком оборудовании, услуг и сервиса, а также для p предоставления информации о товарах и услугах, которые, по мнению Исполнителя, могут представлять интерес для Заказчика;
  p б. Для проведения опросов и маркетинговых, статистических и других исследований;
  p в. Для доставки заказанных/согласованных товаров и оказания других услуг Заказчику;
  p г. Для информирования Заказчика о новых услугах или товарах Исполнителя и/или партнеров Исполнителя. Заказчик может быть p информирован с помощью различных средств связи, включая, но не ограничиваясь перечисленным: почтовая рассылка, электронная p почта, телефон (в том числе мобильный телефон), факсимильная связь, сеть интернет;
  p д. Для защиты интересов Исполнителя;
  p е. Для других законных целей, направленных на усовершенствование качества предоставляемых услуг и продуктов Исполнителя.
  p: strong 3. Предоставление персональных данных Заказчика третьим лицам
  p 3.1. За исключением случаев, предусмотренных законодательством и настоящим Соглашением, Исполнитель обязуется без прямого p согласия Заказчика не продавать, не предоставлять в пользование, не обменивать и никаким иным образом не передавать третьим p лицам персональные данные Заказчика.
  p 3.2. Исполнитель имеет право предоставить третьим лицам персональные данные Заказчика, если:
  p 3.2.1 Заказчик дал свое прямое согласие на передачу своих персональных данных третьим лицам.
  p 3.2.2. Передача персональных данных Заказчика необходима для оказания услуг Заказчику и/или для обработки персональных данных p Заказчика.
  p В случае, когда Исполнитель передает персональные данные Заказчика третьим лицам, Исполнитель требует от третьих лиц p соблюдение конфиденциальности персональных данных Заказчика.
  p 3.2.3. Передача, использование или раскрытие такой информации необходимы для:
  p а. соблюдения любых действующих законов и нормативных актов;
  p б. решения и/или устранения возникших технических проблем;
  p в. защиты интересов Исполнителя.
  p 3.3. В случае, если Исполнителем будет осуществлена полная или частичная продажа, или иная передача своих активов, к p получателю активов перейдут все обязательства по сохранению конфиденциальности персональных данных Заказчика, предусмотренные p данным Соглашением.
  p: strong 4. Защита персональных данных Заказчика
  p 4.1. Исполнитель принимает все необходимые меры для защиты персональных данных Заказчика. Однако на Заказчике лежит вся p ответственность за обеспечение безопасности устройств, через которые Заказчик осуществляют выход в сети Интернет, и p информации, хранящейся на этих устройствах.
  p 4.2. Заказчик подтверждает и соглашается с тем, что он лично отвечает:
  p 4.2.1. За обеспечение безопасности устройства (персональный компьютер, мобильное устройство и т.д.), через которое Заказчик p осуществляет выход в сети Интернет;
  p 4.2.2. За хранение информации: пароли, информация об учетных записях и т.д.
  p: strong 5. Согласие Заказчика на добровольное предоставление персональных данных Исполнителю
  p 5.1. Заказывая услуги Исполнителя и/или регистрируясь на сайте #{site} Заказчик в явной форме выражает свое согласие p предоставить Исполнителю и доверенным лицам Исполнителя свои персональные данные для сохранения, последующей обработки и p использования этих данных.
  p 5.2. Заказчик обязан поддерживать персональные данные о себе в актуальном состоянии.
  p 5.3. Заказчик может в любой момент прервать настоящее Соглашение, о чем обязан уведомить Исполнителя за 14 дней.
  p 5.3.1. Заказчик может направить Исполнителю уведомление о прерывании Соглашения заказным почтовым уведомлением с описью p вложения или вручить уведомление лично под роспись уполномоченному представителю Исполнителя.
  p Редакция от #{lastUpdate}
