mixin input-checkbox(checkbox)
  input(
    type='checkbox',
    id=checkbox.name,
    name=checkbox.name,
    checked=checkbox.checked === true
  ).form__checkbox
  label(for=checkbox.name).form__checkbox-label= checkbox.label

mixin form-input(input)
  .form__input-group(class=(input.type === 'textarea') ? 'form__input-group--grow' :'')
    case input.type
      when 'text'
        input(type=input.type, name=input.name).form__input
      when 'number'
        input(type=input.type, name=input.name, min=input.min, max=input.max, value=input.value).form__input
      when 'select'
        select(name=input.name).form__input.js-styleselect
          each option in input.items
            option= option
      when 'slider'
      when 'slider-range'
        div.form__custom-input.js-custom-input
          input(type='text', name=input.name, disabled).form__input
          .form__input-popup
            .form__input-popup-range
              span= input.minLabel
              span= input.maxLabel
            .form__input-popup-slider
              .js-noui-slider(data-options=JSON.stringify(input.options))
            if input.checkbox
              .form__input-popup-checkbox
                +input-checkbox(input.checkbox)
      when 'textarea'
        textarea(id=input.name).form__input.form__textarea
      when 'checkboxes'
        div.form__custom-input.js-custom-input
          input(type='text', name=input.name, disabled).form__input
          .form__input-popup
            .form__input-popup-checkboxes
              each checkbox in input.items
                +input-checkbox(checkbox)
    label.form__label= input.label

mixin section-form(form)
  section.section.section--gray
    .section__inner
      h2.section__title= form.title
      .section__subtitle
        | Вы можете заполнить заявку на бесплатный подбор квартиры или
        |
        a(href='#').js-popup-form-open подобрать в один клик
        |
        | и наш менеджер свяжется с вами
      .section__content
        form(novalidate).form.js-form
          - var items = form.fields.map(name => Object.assign({}, { name }, inputs[name]));

          each i in [0, 4, 8]
            .form__block
              each item in items.slice(i, i + 4)
                +form-input(item)
              if i === 8
                button.button.form__button= form.buttonLabel
